.label {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.labelText {
    margin-left: 50px;
    color: #6e7880;
    font-size: 21px;
    min-height: 30px;
}

.radio {
    display: inline-block;
    color: #6e7880;
    height: 30px;
    flex-shrink: 0;
    user-select: none;
    position: relative;
    z-index: 2;
    cursor: pointer;
}

.radio:before {
    content: "";
    position: absolute;
    display: block;
    width: 30px;
    height: 30px;
    top: 0;
    left: 0;
    border-radius: 25px;
    background: #dbe4eb;
}

.radio:after {
    content: "";
    position: absolute;
    top: 7px;
    left: 7px;
    display: block;
    width: 25px;
    height: 25px;
    border-radius: 25%;
    background: no-repeat url("/src/components/Radio/radio.svg");
    background-size: 16px;
    box-sizing: border-box;
    z-index: -3;
}

.radioOn:after {
    z-index: 3;
}

@media (max-width: 1600px) {
    .labelText {
        font-size: 18px;
        margin-left: 40px;
    }

    .radio:before {
        top: 4px;
        left: 0;
        width: 25px;
        height: 25px;
    }

    .radio:after {
        top: 9px;
        left: 6px;
        background-size: 14px;
    }
}

@media (max-width: 1280px) {
    .labelText {
        font-size: 12px;
        margin-left: 30px;
        min-height: 20px;
    }

    .radio:before {
        top: 4px;
        left: 0;
        width: 20px;
        height: 20px;
    }

    .radio:after {
        top: 8px;
        left: 5px;
        background-size: 11px;
    }
}

@media (max-width: 1000px) {
    .labelText {
        font-size: 10px;
        min-height: 25px;
    }

    .radio:before {
        width: 20px;
        height: 20px;
        top: 0;
    }

    .radio:after {
        top: 4px;
        left: 5px;
    }
}
@media (max-width: 900px) {
    .labelText {
        font-size: 16px;
        margin-left: 40px;
    }

    .radio:before {
        width: 25px;
        height: 25px;
    }

    .radio:after {
        top: 6px;
        left: 6px;
        background-size: 13px;
    }
}

@media (max-width: 480px) {
    .labelText {
        font-size: 14px;
    }
}
