.title {
    font-size: 38px;
    font-weight: 500;
    margin: 0 0 15px 50px;
}

.briefInfo {
    background-color: #ffffff;
    border-radius: 25px;
    padding: 55px 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 110px;
    row-gap: 20px;
}

.condition {
    font-size: 24px;
}

.text {
    font-size: 30px;
    color: #2C4EC5;
}
