.content {
    width: 76%;
    height: 100%;
}

@media (max-width: 1200px) {
    .content {
        width: 76%;
    }
}

@media (max-width: 1000px) {
    .content {
        width: 73%;
    }
}

@media (max-width: 768px) {
    .content {
        width: 100%;
    }
}
