.label {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.labelText {
    margin-left: 50px;
    color: #6e7880;
    font-size: 21px;
}

.checkbox {
    font-size: 21px;
    display: inline-block;
    color: #6e7880;
    height: 30px;
    flex-shrink: 0;
    user-select: none;
    position: relative;
    cursor: pointer;
}

.checkbox:before {
    content: "";
    position: absolute;
    display: block;
    width: 30px;
    height: 30px;
    top: 0;
    left: 0;
    border-radius: 5px;
    background: #dbe4eb;
}

.checkbox:after {
    content: "";
    position: absolute;
    top: 3px;
    left: 4px;
    display: block;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background: no-repeat url("/src/components/Checkbox/checkbox.svg");
    background-size: 24px;
    box-sizing: border-box;
    z-index: -3;
}

.checkboxOn:after {
    z-index: 3;
}

@media (max-width: 1600px) {
    .labelText {
        font-size: 18px;
        margin-left: 40px;
    }

    .checkbox:before {
        top: 4px;
        left: 0;
        width: 25px;
        height: 25px;
    }

    .checkbox:after {
        top: 7px;
        left: 3px;
        background-size: 20px;
    }
}

@media (max-width: 1280px) {
    .labelText {
        font-size: 12px;
        margin-left: 30px;
        min-height: 20px;
    }

    .checkbox:before {
        top: 4px;
        left: 0;
        width: 20px;
        height: 20px;
    }

    .checkbox:after {
        top: 7px;
        left: 2px;
        background-size: 16px;
    }
}

@media (max-width: 1000px) {
    .labelText {
        font-size: 10px;
    }
}
@media (max-width: 900px) {
    .labelText {
        font-size: 16px;
        margin-left: 40px;
        min-height: 25px;
    }

    .checkbox:before {
        top: 0;
        width: 25px;
        height: 25px;
    }

    .checkbox:after {
        top: 4px;
        left: 3px;
        background-size: 19px;
    }
}

@media (max-width: 480px) {
    .labelText {
        font-size: 14px;
    }
}
