.header {
    width: 100%;
    height: 620px;
    background: no-repeat url("/public/background.png");
    border-radius: 25px;
    display: flex;
    flex-direction: row;
    padding: 155px 90px 0 90px ;
    gap: 45px;
}

.title {
    color: #ffffff;
    font-size: 84px;
    font-weight: 500;
}

.img {
    width: 595px;
    height: 465px;
    display: flex;
}

.content {
    padding: 60px 50px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    gap: 25px;
}