.header {
    width: 100%;
    height: 620px;
    background: no-repeat url("/public/background.png");
    border-radius: 35px;
}

.headerMain {
    padding: 155px 90px;
    margin-bottom: 60px;
    position: relative;
}

.title {
    color: #ffffff;
    font-size: 84px;
    font-weight: 500;
    width: 54%;
}

.img {
    position: absolute;
    bottom: 0;
    right: 125px;
    width: 32%;
    height: 74%;
}

.img > img {
    width: 100%;
    height: 100%;
}

.headerDetail {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 200px 165px 30px;
    margin-bottom: 25px;
}

.wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 40px;
    width: 100%;
    height: 100%;
}

.titleDetail {
    color: #ffffff;
    font-size: 64px;
    font-weight: 500;
    width: 70%;
}

.providesWrap {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 25px 25px 30px 25px;
    width: 30%;
    height: 100%;
    backdrop-filter: blur(10px);
    background-color: #ffffff40;
    border-radius: 35px;
    border: solid 1px #ffffff80;
}

.provides {
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: #ffffff;
    font-size: 24px;
}

.text {
    font-size: 30px;
    font-weight: 400;
}

.providesWrap > .btn {
    width: 100%;
    padding: 30px 0;
    border-radius: 20px;
    color: #2c4ec5;
    font-weight: 400;
    font-size: 24px;
}

.content {
    position: relative;
}

.btnWrap {
    position: static;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
    margin-top: 35px;
    color: #2c4ec5;
}

.btnWrap:hover {
    color: #391689;
}

@media (max-width: 1800px) {
    .headerMain {
        height: 570px;
        padding: 150px 85px;
    }

    .title {
        font-size: 62px;
    }

    .headerDetail {
        padding: 180px 130px 50px;
    }

    .titleDetail {
        font-size: 60px;
    }
}

@media (max-width: 1600px) {
    .headerMain {
        height: 500px;
        padding: 150px 85px;
    }

    .title {
        font-size: 68px;
    }

    .headerDetail {
        padding: 150px 110px 70px;
    }

    .titleDetail {
        font-size: 58px;
    }

    .provides {
        font-size: 22px;
    }

    .text {
        font-size: 28px;
    }

    .providesWrap > .btn {
        padding: 25px 0;
        font-size: 22px;
    }
}

@media (max-width: 1480px) {
    .headerMain {
        height: 450px;
        padding: 115px 85px;
    }

    .title {
        font-size: 56px;
    }

    .headerDetail {
        padding: 125px 80px 90px;
    }

    .titleDetail {
        font-size: 56px;
    }

    .provides {
        font-size: 20px;
    }

    .text {
        font-size: 26px;
    }

    .providesWrap > .btn {
        padding: 20px 0;
        font-size: 20px;
        border-radius: 16px;
    }
}

@media (max-width: 1280px) {
    .header {
        border-radius: 16px;
    }

    .headerMain {
        height: 280px;
        padding: 80px 40px;
    }

    .title {
        font-size: 38px;
    }

    .img {
        right: 10%;
        width: 30%;
        height: 82%;
    }

    .headerDetail {
        height: 260px;
        flex-direction: column;
        justify-content: flex-start;
        gap: 10px;
        padding: 45px 60px 25px;
    }

    .wrap {
        gap: 20px;
    }

    .btnWrap {
        color: #ffffff;
        display: flex;
        flex-direction: row;
        gap: 15px;
        margin: 0;
        cursor: pointer;
    }

    .btnWrap:hover {
        color: #ffffff78;
    }

    .btnWrap > .btnBack {
        border: none;
        background-color: transparent;
        color: #ffffff;
        font-size: 19px;
        font-weight: lighter;
    }

    .btnWrap > .btnBack:hover {
        color: #ffffff78;
    }

    .titleDetail {
        font-size: 30px;
    }

    .providesWrap {
        padding: 15px 20px;
        border-radius: 16px;
        width: 35%;
    }

    .provides {
        font-size: 16px;
    }

    .text {
        font-size: 18px;
    }
}

@media (max-width: 1000px) {
    .header {
        border-radius: 16px;
    }

    .headerMain {
        height: 245px;
        padding: 65px 30px;
        margin-bottom: 20px;
    }

    .title {
        font-size: 32px;
    }

    .img {
        right: 5%;
        width: 34%;
        height: 82%;
    }

    .headerDetail {
        height: 260px;
        padding: 50px 30px 25px 30px;
        margin-bottom: 20px;
    }

    .wrap {
        gap: 20px;
    }

    .titleDetail {
        font-size: 28px;
    }

    .providesWrap {
        padding: 10px 15px;
    }

    .provides {
        font-size: 14px;
    }

    .text {
        font-size: 16px;
    }
}

@media (max-width: 900px) {
    .headerMain {
        height: 255px;
        padding: 60px 20px 70px;
        margin-bottom: 15px;
    }

    .title {
        width: 50%;
        font-size: 26px;
    }

    .img {
        right: 5%;
        width: 35%;
        height: 60%;
    }

    .headerDetail {
        height: 340px;
        width: 100%;
        padding: 20px;
        margin-bottom: 25px;
    }

    .wrap {
        gap: 10px;
        flex-direction: column;
        align-items: flex-start;
    }

    .btnWrap {
        margin-bottom: 10px;
    }

    .btnWrap > .btnBack {
        font-size: 18px;
    }

    .titleDetail {
        font-size: 20px;
        width: 100%;
    }

    .providesWrap {
        padding: 10px;
        width: 100%;
        height: 105px;
        margin-bottom: 10px;
    }

    .provides {
        gap: 20px;
        font-size: 16px;
    }

    .text {
        font-size: 16px;
        font-weight: 500;
    }

    .headerDetail > .btn {
        padding: 15px 40px;
        border-radius: 10px;
        color: #2c4ec5;
        font-size: 14px;
        width: 200px;
    }
}

@media (max-width: 480px) {
    .headerMain {
        height: 440px;
        padding: 60px 15px 265px;
        margin-bottom: 15px;
    }

    .title {
        width: 85%;
        font-size: 24px;
    }

    .img {
        right: 10%;
        width: 80%;
        height: 55%;
    }

    .headerDetail {
        height: 440px;
        width: 100%;
        gap: 15px;
        padding: 35px 20px 25px;
    }

    .wrap {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    .btnWrap {
        gap: 15px;
        margin-bottom: 0;
    }

    .btnWrap > .btnBack {
        font-size: 19px;
    }

    .titleDetail {
        font-size: 20px;
        width: 100%;
    }

    .providesWrap {
        padding: 15px;
        height: 200px;
    }

    .provides {
        gap: 20px;
        font-size: 16px;
        margin-bottom: 10px;
    }

    .text {
        font-size: 16px;
        font-weight: 500;
    }
}
