.wrap {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 30px;
    gap: 20px;
}

.search {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 63%;
    height: 70px;
    background: #ffffff;
    border-radius: 50px;
    padding: 17px 25px;
    position: relative;
}

.searchLb {
    width: 100%;
    height: 100%;
}

.input {
    border: none;
    font-size: 21px;
    color: #99a7b2;
    background: #ffffff;
    width: 100%;
    height: 100%;
    font-family: "Open Sans", sans-serif;
}

.input::placeholder {
    color: #99a7b2;
    font-family: "Open Sans", sans-serif;
}

.input:focus {
    border: #99a7b2;
    background: #ffffff;
    outline: none;
}

.searchIcon {
    margin-right: 30px;
}

.searchIcon > svg {
    width: 36px;
    height: 36px;
}

.btnClose {
    border: none;
    background-color: #ffffff;
    position: absolute;
    top: 25px;
    right: 25px;
    width: 20px;
    height: 20px;
}

.btn {
    padding: 14px 20px;
    color: #0a0e35;
    font-size: 24px;
    font-weight: 300;
    letter-spacing: 1px;
    height: 60px;
}

@media (max-width: 1200px) {
    .wrap {
        margin-bottom: 20px;
        gap: 15px;
    }

    .search {
        width: 70%;
        height: 40px;
        padding: 9px 15px;
    }

    .searchLb {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
    }

    .searchLb > input {
        font-size: 14px;
    }

    .searchIcon {
        margin-right: 15px;
    }

    .searchIcon > svg {
        width: 22px;
        height: 22px;
    }

    .btnClose {
        top: 13px;
        right: 15px;
        width: 15px;
        height: 15px;
    }

    .btn {
        padding: 8px 15px;
        font-size: 14px;
        letter-spacing: 1px;
        height: 34px;
    }
}

@media (max-width: 1000px) {
    .wrap {
        gap: 10px;
    }

    .search {
        width: 65%;
        height: 30px;
        padding: 6px 15px;
    }

    .searchLb > input {
        font-size: 12px;
    }

    .searchIcon {
        margin-right: 20px;
    }

    .searchIcon > svg {
        width: 18px;
        height: 18px;
    }

    .btnClose {
        top: 8px;
        right: 14px;
        width: 14px;
        height: 14px;
    }

    .btn {
        padding: 7px 15px;
        height: 30px;
    }
}

@media (max-width: 768px) {
    .wrap {
        flex-direction: column;
    }

    .search {
        width: 100%;
        height: 40px;
        padding: 12px 15px;
    }

    .searchLb > input {
        font-size: 16px;
    }

    .searchIcon {
        margin-right: 15px;
    }

    .searchIcon > svg {
        width: 20px;
        height: 20px;
    }

    .btnClose {
        top: 10px;
        right: 15px;
        width: 16px;
        height: 16px;
    }

    .btn {
        display: none;
    }
}
