.content {
    width: 21.5%;
}

.wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.title {
    font-size: 34px;
    font-weight: 500;
    padding-left: 20px;
}

.btnWrap {
    background-color: #ffffff;
    padding: 15px;
    border-radius: 30px 30px 0 0;
    position: relative;
}

.btn:before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    top: 5px;
    left: -65px;
    border-bottom: 75px solid #ffffff;
    border-left: 80px solid transparent;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px 23px;
    border-radius: 25px;
    border: solid 1px #99a7b2;
    background-color: #ffffff;
    color: #6e7880;
    font-size: 21px;
    transition: 0.2s;
    cursor: pointer;
}

.btn:hover {
    background-color: #0d92ffd9;
    color: #ffffff;
}

.sections {
    display: flex;
    flex-direction: column;
    gap: 45px;
    background-color: #ffffff;
    padding: 40px 20px 30px 20px;
    border-radius: 30px 0 30px 30px;
}

.section {
    display: flex;
    flex-direction: column;
    gap: 45px;
}

.titleSection {
    font-size: 24px;
    font-weight: 500;
}

.filter {
    display: flex;
    flex-direction: column;
    gap: 30px;
}
