.sections {
    display: flex;
    flex-direction: column;
    gap: 45px;
    background-color: #ffffff;
    padding: 40px 20px 30px 20px;
    border-radius: 30px 0 30px 30px;
}

.section {
    display: flex;
    flex-direction: column;
    gap: 45px;
}

.titleSection {
    font-size: 24px;
    font-weight: 500;
}

.filter {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

@media (orientation: landscape) and (max-width: 1000px) {
    .sections {
        gap: 25px;
        padding: 30px 15px 20px;
        border-radius: 20px 0 20px 20px;
    }

    .section {
        gap: 25px;
    }

    .titleSection {
        font-size: 14px;
    }

    .filter {
        gap: 20px;
    }
}

@media (orientation: portrait) and (max-width: 770px) {
    .sections {
        gap: 25px;
        padding: 30px 15px 20px;
        border-radius: 20px 0 20px 20px;
    }

    .section {
        gap: 25px;
    }

    .titleSection {
        font-size: 14px;
    }

    .filter {
        gap: 20px;
    }
}

@media (orientation: landscape) and (max-width: 480px) {
    .sections {
        padding: 25px;
        border-radius: 30px;
    }

    .titleSection {
        font-size: 16px;
    }
}

@media (orientation: portrait) and (max-width: 360px) {
    .sections {
        padding: 25px 20px;
        border-radius: 30px;
    }

    .titleSection {
        font-size: 16px;
    }
}
