html,
body {
    height: 100vh;
}

body {
    margin: 0;
    font-size: 18px;
    color: #000000;
    background: #e9f2f9;
    overflow-y: scroll;
    font-family: "Montserrat", "Open Sans", "Segoe UI", "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    z-index: 1;
}

::-webkit-scrollbar {
    height: 3px;
    width: 10px;
    background-color: #ffffff;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: inset 1px 1px 5px #000000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

h1,
h2,
h3 {
    margin: 0;
    font-weight: normal;
}

p {
    margin: 0;
}

button {
    font-family: "Open Sans", sans-serif;
    cursor: pointer;
}

ul {
    list-style-type: disc;
}

.react-calendar__navigation__next2-button,
.react-calendar__navigation__prev2-button {
    display: none;
}

.react-calendar {
    border: none;
}

.react-calendar__navigation__arrow {
    font-size: 30px;
    color: #99a7b2;
}

.react-calendar__navigation__next-button,
.react-calendar__navigation__prev-button {
    display: flex;
    align-items: center;
    justify-content: center;
}

.react-calendar__tile--active:enabled:focus,
.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus,
.react-calendar__tile,
.react-calendar button:enabled:hover,
.react-calendar__tile:enabled:focus {
    background: none;
}

.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
    color: #2d4ef8;
}

.react-calendar__navigation__label__labelText {
    font-size: 21px;
    text-transform: capitalize;
    color: #6e7880;
}

.react-calendar__navigation {
    margin-bottom: 15px;
    height: 30px;
}

.react-calendar__tile {
    color: #6e7880;
    padding: 5px 13px;
}

.react-calendar__navigation > .react-calendar__navigation__label {
    pointer-events: none;
    cursor: default;
}

.react-calendar__tile > abbr {
    font-size: 19px;
}

.react-calendar button:enabled:hover {
    background: none;
    color: #2d4ef8;
}

.react-calendar__tile--active {
    color: #2d4ef8;
}

.react-calendar__month-view__weekdays__weekday > abbr {
    text-decoration: none;
    text-transform: capitalize;
    font-weight: 400;
    color: #6e7880;
    font-size: 19px;
}

.react-calendar--selectRange .react-calendar__tile--hover {
    background-color: transparent;
    color: #2d4ef8;
}

/*@media (orientation: landscape), (max-width: 1000px) {*/
/*    html,*/
/*    body {*/
/*        width: 100%;*/
/*    }*/
/*}*/
/*@media (orientation: portrait), (max-width: 770px) {*/
/*    .layout {*/
/*        width: 100%;*/
/*    }*/
/*}*/
/*@media (orientation: landscape), (max-width: 480px) {*/
/*    .layout {*/
/*        width: 100%;*/
/*    }*/
/*}*/
/*@media (orientation: portrait), (max-width: 360px) {*/
/*    .layout {*/
/*        width: 100%;*/
/*    }*/
/*}*/
