html,
body {
    height: 100vh;
}

body {
    margin: 0;
    font-size: 18px;
    color: #000000;
    background: #e9f2f9;
    overflow-y: scroll;
    font-family:
        -apple-system, "Montserrat", "Open Sans", "Segoe UI", "Roboto",
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    z-index: 1;
}

::-webkit-scrollbar {
    height: 3px;
    width: 10px;
    background-color: #ffffff;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: inset 1px 1px 5px #000000;
}

code {
    font-family:
        source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4 {
    margin: 0;
    font-weight: normal;
}

p {
    margin: 0;
}

button {
    font-family: "Open Sans", sans-serif;
}

@media (orientation: portrait), (max-width: 770px) {
}
@media (orientation: landscape), (max-width: 1000px) {
}
@media (orientation: portrait), (max-width: 360px) {
}
@media (orientation: landscape), (max-width: 480px) {
}
