html,
body {
    height: 100vh;
    width: 100vw;
}

body {
    margin: 0;
    font-size: 18px;
    height: 100%;
    width: 100%;
    color: #000000;
    background: #ffffff;
    font-family:
        -apple-system, "Open Sans", "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
        "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    z-index: 1;
}

code {
    font-family:
        source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4 {
    margin: 0;
    font-weight: normal;
}

p {
    margin: 0;
}

@media (orientation: portrait), (max-width: 770px) {
}
@media (orientation: landscape), (max-width: 1000px) {
}
@media (orientation: portrait), (max-width: 360px) {
}
@media (orientation: landscape), (max-width: 480px) {
}
