.container {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin: auto auto 0;
    color: #0a0e35;
    user-select: none;
    padding: 0 30px;
    gap: 10px;
}

.arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 15px;
    height: 28px;
}

.arrow:first-child {
    margin-right: 20px;
}

.arrowForward {
    transform: rotate(180deg);
    margin-left: 20px;
}

.button {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: #6e7880;
    cursor: pointer;
}

.button:hover {
    background-color: #ffffff;
    color: #2d4ef8;
    border-radius: 10px;
    box-shadow:
        0 2px 20px #289fff,
        15px 5px 5px #a2ccef00;
}

.buttonActive {
    background-color: #ffffff;
    color: #2d4ef8;
    border-radius: 10px;
    box-shadow:
        0 2px 20px #289fff,
        15px 5px 5px #a2ccef00;
}

.delimiter {
    pointer-events: none;
}

.chevronButtonDisabled {
    color: #ccc;
    pointer-events: none;
    border-color: #ccc;
}

.paginationItemDots:hover {
    font-weight: 400;
}

@media (orientation: landscape) and (max-width: 1000px) {
    .container {
        padding: 0 15px;
        gap: 3px;
    }

    .arrow > svg {
        width: 10px;
        height: 15px;
    }

    .arrow:first-child {
        margin-right: 15px;
    }

    .arrowForward {
        transform: rotate(180deg);
        margin-left: 15px;
    }

    .button {
        width: 25px;
        height: 28px;
        font-size: 12px;
    }

    .button:hover {
        border-radius: 8px;
    }

    .buttonActive {
        border-radius: 8px;
    }

    .delimiter {
        pointer-events: none;
    }

    .chevronButtonDisabled {
        color: #ccc;
        pointer-events: none;
        border-color: #ccc;
    }

    .paginationItemDots:hover {
        font-weight: 400;
    }
}

@media (orientation: portrait) and (max-width: 770px) {
    .container {
        padding: 0 5px;
        gap: 3px;
    }

    .arrow > svg {
        width: 10px;
        height: 15px;
    }

    .arrow:first-child {
        margin-right: 15px;
    }

    .arrowForward {
        transform: rotate(180deg);
        margin-left: 15px;
    }

    .button {
        width: 25px;
        height: 28px;
        font-size: 12px;
    }

    .button:hover {
        border-radius: 8px;
    }

    .buttonActive {
        border-radius: 8px;
    }
}
@media (orientation: landscape) and (max-width: 480px) {
    .container {
        padding: 0;
        gap: 3px;
        justify-content: center;
    }

    .arrow > svg {
        width: 15px;
        height: 20px;
    }

    .arrow:first-child {
        margin-right: 20px;
    }

    .arrowForward {
        transform: rotate(180deg);
        margin-left: 20px;
    }

    .button {
        width: 28px;
        height: 30px;
        font-size: 16px;
    }

    .button:hover {
        border-radius: 8px;
    }

    .buttonActive {
        border-radius: 8px;
    }
}

@media (orientation: portrait) and (max-width: 360px) {
    .container {
        padding: 0;
        gap: 3px;
        justify-content: center;
    }

    .arrow > svg {
        width: 15px;
        height: 20px;
    }

    .arrow:first-child {
        margin-right: 20px;
    }

    .arrowForward {
        transform: rotate(180deg);
        margin-left: 20px;
    }

    .button {
        width: 28px;
        height: 30px;
        font-size: 16px;
    }

    .button:hover {
        border-radius: 8px;
    }

    .buttonActive {
        border-radius: 8px;
    }
}
