.layout {
    width: 100%;
    height: 100%;
    padding: 25px 20px;
}

@media (max-width: 1000px) {
    .layout {
        padding: 20px;
    }
}
@media (max-width: 770px) {
    .layout {
        padding: 15px 10px;
    }
}
@media (max-width: 480px) {
    .layout {
        padding: 10px;
    }
}
/*@media (max-width: 360px) {*/
/*    .layout {*/
/*        padding: 10px;*/
/*    }*/
/*}*/
