.layout {
    width: 1920px;
    height: 100%;
    margin: auto;
    padding: 25px 20px 0 20px;
}

@media (orientation: landscape) and (max-width: 1000px) {
    .layout {
        padding: 20px 20px 0;
        width: 100%;
    }
}

@media (orientation: portrait) and (max-width: 770px) {
    .layout {
        padding: 15px 10px 0;
        width: 100%;
    }
}

@media (orientation: landscape) and (max-width: 480px) {
    .layout {
        padding: 10px 10px 0;
        width: 100%;
    }
}

@media (orientation: portrait) and (max-width: 360px) {
    .layout {
        padding: 10px 10px 0;
        width: 100%;
    }
}
