.layout {
    max-width: 1920px;
    height: 100%;
    margin: auto;
    padding: 25px 20px 0 20px;
}

@media (max-width: 1600px) {
    .layout {
        padding: 20px 20px 0;
    }
}

@media (max-width: 1280px) {
    .layout {
        padding: 20px 20px 0;
    }
}

@media (max-width: 1000px) {
    .layout {
        padding: 15px 10px 0;
    }
}

@media (max-width: 900px) {
    .layout {
        padding: 10px 10px 0;
    }
}

@media (max-width: 480px) {
    .layout {
        padding: 10px 10px 0;
    }
}
